* {
    /* font-family: 'Raleway','Roboto Mono', monospace ,'Segoe UI', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    user-select: none;
    scroll-behavior: smooth;
    transition:all 0.3s ease-in-out;

}

::-webkit-scrollbar{
    width:10px;
    position:fixed;
}

::-webkit-scrollbar-thumb{
    background:#bebebe;
    border-radius:10px;
    transition:2s;
}

::-webkit-scrollbar-thumb:hover{
    background:#f2ae30;
}

a{
    text-decoration:none;
    color:black;
    font-size:2rem;
}

/*-----------------------------------CONTENT----------------------------------*/
.navbar{
    width: 100%;
    height:max(50px,7.5vh);
    background:red;
    position:fixed;
    padding:max(0.5vh,0.5vw);
    z-index:100;
    /* display:inline-block; */
    display: grid;
    gap:10%;
    padding-right: 1vw;
}


.navbar-left{
    align-items:left;
    float:left;
    margin-left: 0.5vw;
    border-radius: 7.5px;
}

.navbar-left {display:grid; place-items: center;}

.navbar-left li a{
    border-radius:7.5px;
}

.navbar-left:hover{
    background:rgba(0,0,0,0.2);
}


.navbar-right{
    float:right;
    overflow:hidden;

}


.nav-area .navbar-right li{
    padding:0%;
    display:inline-block;
    border-bottom:2px;
    transition:0.075s ease-in-out;
}

.nav-area .navbar-right li:hover{
    border-bottom:2px solid black;
    transform:translateY(10%);
    padding: 0 5px;
    filter:hue-rotate(180deg);
}

/*------------------------------------PAGES---------------------------------*/

.page{
    height:100vh;
}

.header{
    padding-top:max(30px,4vh);
    padding-left:1vw;
    font-size: 3rem;
}

/*------------------------------------PAGE 1---------------------------------*/


/*------------------------------------PAGE 2---------------------------------*/

.p2{background:peachpuff;}

/*------------------------------------PAGE 3---------------------------------*/






/*----------------------------------MEDIA QUERIES----------------------------*/

@media screen and (min-width: 768px) {

    html{
        font-size: 12px;
    }
    
    body{
        font-size:1rem;
        scroll-snap-type: y mandatory;
    }
    }